## Laboratorium 2
**Łukasz Rams**

8.10.2021r

piątek 9:15

**Import modułów**

In [1]:
import numpy as np
import pandas as pd

### Ćwiczenie 1

W tym ćwiczeniu należało pobrać i uporządkować przydzielony zbiór danych zgodnie z protokołem TIER oraz zasadami "tidy data".

Zbiór danych wybierany był według następującego wzoru:

$ (N\%6) +1 $

Gdzie:

$ N $ - ilość liter w nazwisku

In [2]:
# Wyznaczenie numeru zbioru danych
no = (len("Rams") % 6) + 1
"Wyznaczono zbiór danych numer %i" % no

'Wyznaczono zbiór danych numer 5'

Wyznaczony zbiór danych to **earthquake_data.csv**.

W zbiorze tym należało zmienić nazwy kolumn i przygotować tabele łączącą wiek, płeć i odpowiedź na pytanie **Do you think the "Big One" will occur in your lifetime?**

### Wczytanie danych

In [9]:
data = pd.read_csv(r"../Original Data/earthquake_data.csv")  # załadowanie danych 
data.head(5)  # wyświetlenie pierwszych pięciu rekordów

,"In general, how worried are you about earthquakes?","How worried are you about the Big One, a massive, catastrophic earthquake?","Do you think the ""Big One"" will occur in your lifetime?",Have you ever experienced an earthquake?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",How familiar are you with the San Andreas Fault line?,How familiar are you with the Yellowstone Supervolcano?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic